<div class="inner_layout">
  <nav class="main_nav">
    <ul class="lst_nav">
      {{#each mainMenu}}
      <li>
        <a href="{{url}}" id="{{id}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </nav>
  <div class="service_nav">
    <ul class="lst_nav">
      {{#each sideMenu}}
      <li>
        <a href="{{url}}" id="{{id}}">{{name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>